::-moz-selection {
	/* Code for Firefox */
	color: whitesmoke;
	background: black;
}

main {
	display: flex;
	flex-direction: column;
}

::selection {
	color: whitesmoke;
	background: black;
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body * {
	border: none;
}

body {
	display: grid;
	grid-template-rows: 2fr 9fr 1fr;
	margin: 20px calc(10%);
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: hsl(0, 0%, 30%);
	text-shadow: 0px 1px 1px 1px silver;
}

.hide {
	display: none;
}

.show {
	display: grid;
}

header {
	border: none;
	display: grid;
	grid-template-rows: 3fr 1fr;
	height: 100px;
}

#title {
	border: none;
	display: grid;
	grid-template-columns: 3fr 1fr 3fr;
	font-size: 80px;
	gap: calc(10px + 10%);
}

.title-word-1 {
	display: flex;
	justify-content: end;
	align-items: center;
	color: red;
	font-style: italic;
	text-shadow: -0.5px 0.5px 1.1px black;
}

.title-word-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 45px;
	padding-top: 15px;
	text-shadow: -0.5px 0.5px 1px silver;
}

.title-word-3 {
	align-items: center;
	display: flex;
	text-shadow: -0.5px 0.5px 1.1px black;
}

#name-1 {
	color: blue;
	font-size: 50px;
	display: flex;
	align-items: center;
	padding-bottom: 5px;
}

#name-2 {
	color: pink;
}

#name-3 {
	color: yellow;
	font-size: 50px;
	display: flex;
	align-items: center;
	padding-bottom: 5px;
}

#name-4 {
	color: green;
}

#name-5 {
	color: gray;
	font-size: 50px;
	display: flex;
	align-items: center;
	padding-bottom: 5px;
}

nav {
	display: flex;
	justify-content: space-around;
	list-style: none;
	border-top: 1px solid black;
	color: black;
	justify-items: center;
}

#main-main {
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin: 100px calc(13%) 0px calc(5%);
	font-size: 40px;
}

#display-post {
	height: 700px;
}
button {
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: inherit;
	text-shadow: -0.5px 0.5px 1px silver;
	margin-top: 10px;
	padding: 3px 10px;
}

button:hover {
	cursor: pointer;
	text-shadow: -0.5px 0.5px 1.6px gray;
}

button:active {
	text-shadow: none;
	text-shadow: -0.5px 0.5px 1px silver;
}

img {
	pointer-events: none;
	height: 35px;
}

input {
	border: 1px solid black;
	border-radius: 5px;
	width: 230px;
	padding: 5px 10px;
}

label {
}

.card {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 9fr;
	align-items: center;
	transition: font-size 300ms, opacity 300ms;
}

.post-button {
	border: none;
	text-align: center;
	justify-self: center;
	grid-row: 1 / 2;
	font-size: 40px;
	transition: font-size 300ms, opacity 300ms;
}

.title {
	text-align: center;
	font-size: 40px;
	transition: font-size 300ms, opacity 300ms;
	border: 1px solid black;
	padding: 10px;
}

.preview {
	grid-column: 2 / 3;
	border: 1px solid black;
	border-top: none;
	text-align: center;
	font-size: 30px;
	font-style: italic;
	font-weight: normal;
	padding-bottom: 10px;
}

#post-preview {
	border: 1px solid black;
	width: 300px;
	height: 100px;
}
#opaque-layer {
	pointer-events: none;
	transition: font-size 300ms, opacity 300ms;
}

/* Initiation Page */
#initiation-form {
	font-size: 30px;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

#initiation-main {
	font-family: cursive;
	margin: 50px calc(13%) 0px;
	font-size: 30px;
}

.dropdown-content {
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	font-size: 15px;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-side-content {
	opacity: 3;
	visibility: hidden;
	position: absolute;
	left: 100%;
	top: 0%;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content a {
	padding: 5px 3px;
	display: block;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
	opacity: 1;
	visibility: visible;
}

.dropdown-content #duties:hover + .dropdown-side-content,
.dropdown-side-content:hover {
	opacity: 1;
	visibility: visible;
}

#post-form {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	margin: 20px 0px;
	gap: 20px;
}

#content-button {
	border: 1px solid black;
	width: fit-content;
}

#post-text {
	height: 200px;
	width: 500px;
}

#display-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;
}

#comments {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px;
	text-align: center;
	width: 40vw;
}

.comment {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

#comment-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

#comment-input {
	display: none;
	border: 1px solid black;
	width: 600px;
	height: 200px;
}

textarea {
	border: 1px solid black;
	padding: 15px;
	border-radius: 5px;
}

#logout-link,
#post-link {
	display: none;
}

#stuff {
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}

#login-display {
	font-family: cursive;
	display: none;
	font-size: 30px;
	margin-top: 50px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 50px;
}

.input-container {
	font-family: cursive;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0px;
}

.error {
	display: none;
	border-radius: 2px;
	width: 60vw;
	margin-top: 50px;
	align-self: center;
	text-align: center;
	font-size: 40px;
	background-color: rgb(0, 255, 0);
}

#init-link {
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	align-self: center;
	margin: 30px 0px 5px 0px;
}
