body * {
  border: none;
}

body {
  display: grid;
  grid-template-rows: 2fr 9fr 1fr;
  margin: 20px calc(10%);
}

header {
  border: none;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

#title {
  border: none;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  font-size: 60px;
  gap: calc(10px + 10%);
}

.title-word-1 {
  display: flex;
  justify-content: end;
  color: red;
  font-style: italic;
}

.title-word-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 40px;
  padding-bottom: 5px;
}

.title-word-3 {
  display: flex;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  border-top: 1px solid black;
  color: black;
  justify-items: center;
}

#name-1 {
  color: blue;
}

#name-2 {
  color: yellow;
}

#name-3 {
  color: orange;
}

#name-4 {
  color: green;
}

#name-5 {
  color: purple;
}
